<div class="event-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1534289692684-c02577d5560d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80);">
    <br>
    <br>
    <div class="col-xs-12 col-md-8 offset-md-2" >
      <div style="background-color: rgba(255, 255, 255, 0.7); border-radius: 0.25em; padding:1em;">
        <h2>Ajouter des épreuves à votre course "<%= @swim_race.name %>"</h2>
        <br>
        <%= render 'shared/formevents'%>
      </div>
      <br>
      <div>
        <button id="add-distance" class="btn btn-lg btn-secondary grey col-xs-9 col-md-4" style="margin-bottom: 0.25em"><i class="fas fa-plus-circle"></i> Ajouter une épreuve</button>
        <button id="submit-form" class="btn btn-lg btn-primary blue-nav col-xs-9 col-md-4" style="margin-bottom: 0.25em"><i class="fas fa-check"></i> Valider ces épreuves</button>
      </div>
    </div>
  <br>
</div>
