<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(http://petitbrindefemme.e.p.f.unblog.fr/files/2014/11/open-water-2.jpg);">
  <div class="container">
    <h1>Eau libre</h1>
    <p>Trouve une course d'eau libre près de chez toi</p>
    <a class="btn btn-primary btn-lg" href="#">Cherche</a>
  </div>
</div>
