<div class="banner" style="background-image: linear-gradient(rgba(100,100,100,0.1),rgba(100,100,100,0.1)), url(https://res.cloudinary.com/dzxrdf9za/image/upload/v1553634476/eau%20libre/photo_landing_page.jpg);">
  <div class="container bottom-left">
    <h1>Eau libre</h1>
    <p>Trouve ta prochaine course de natation en eau libre près de chez toi:</p>
    <div class="search-form-home">
      <div class="row">
        <div class="col-xs-12 col-md-4">
          <%= simple_form_for :search, url: swim_races_path, method: "GET", input_html: { class: "form-inline search-form" } do |f| %>
            <%= f.input :city_name, input_html: {value: "", id: "swim_race_city_name"}, placeholder: "Chercher une ville", label: false %>
            <%= button_tag type: 'submit', class: "btn btn-search-form-banner inline-absolute" do %>
              <i class="fas fa-search"></i>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
