.banner {
  height:100vh;
  max-height: 100vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  background-position: 10% 50%;;
  position: relative;
}
.banner h1 {
  color: white;
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner p {
  font-size: 25px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  opacity: 0.9;
  margin-bottom: 30px;
}


.form-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 70px);
}

.bottom-left {
  position: absolute;
  top: 15%;
  left: 5%;
}

.race-banner {
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.event-banner {
  background-size: cover !important;
  background-repeat: repeat;
  h1 {
  text-align: center;
  color: white;
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  }
}

.race-banner h1 {
  text-align: center;
  color: white;
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
