.form-distance {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


#form-new-event {
  background-color: rgb(180, 180, 180);
  border-radius: 1em;
  padding: 1em;
  margin-bottom: 1em;
}
