.form-distance {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#form_new_event {
  background-color: rgba(290,290,290, 0.6);
  border-radius: 1em;
  padding: 1em;
  margin-bottom: 1em;
}

.form-new-race {
  background-color: rgba(290,290,290, 0.6);
  border-radius: 1em;
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.race-banner {
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.event-banner {
  background-size: cover !important;
  background-repeat: repeat;
  h1 {
  text-align: center;
  color: white;
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  }
}

.race-banner h1 {
  text-align: center;
  color: white;
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}

.search-form {
  display: flex;
  justify-content: center;
  align-item: center;
  text-align: center;
}
