// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "banner";
@import "card";
@import "form";
@import "button";
@import "showrace";


.space-between {
  display: flex;
  justify-content: space-between;
  align-item: center;
}

.second-container {
  display: flex;
  justify-content: space-between;
}


.map-container {
  position: sticky;
  top: 10px;
  flex-grow: 1;
  height: 100vh;
}
