// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "banner";
@import "card";
@import "form";
@import "button";
@import "showrace";

body {
  background-color: #F7F7F7;
}


h1 {
  font-family: 'Roboto', sans-serif;
}

h2 {
  font-family: 'Roboto', sans-serif;
}

p {
  font-family: 'Roboto', sans-serif;
}

#map {
  width:100%;
  height:70vh;
  border-radius: 0.25em;
}


.scroll-overflow {
  max-height: 70vh;
  overflow: scroll;
}

.scroll-overflow-event {
  max-height: 55vh;
  overflow: scroll;
}

.space-between {
  display: flex;
  justify-content: space-between;
  align-item: center;
}

.second-container {
  display: flex;
  justify-content: space-between;
}


.map-container {
  position: sticky;
  top: 10px;
  flex-grow: 1;
  height: 80vh;
  padding: 0.3em;
}

table {
  width: 100%;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

.sidenav-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 120vh;
    background-color: rgba(0,0,0,.5);
    display: block;
    opacity: 1;
    z-index:auto;
  }

.hidden {
 position: absolute !important;
   top: -9999px !important;
   left: -9999px !important;
}
