.race-data {
  border-radius: 0.2em;
  background-color: rgba(290,290,290, 0.6);
  box-shadow: 1em;
  padding: 0.5em;
}

.race-events {
  background-color: #D9F0FF;
  border-radius: 0.2em;
  padding: 0.5em;
  margin-bottom: 1em;
  position: relative;
}


.swim-events {
  background-color: rgba(290,290,290, 0.6);
  border-radius: 0.2em;
  padding: 0.5em;
  margin-bottom: 0.5em;
  position: relative;
}

.event-box {
  border: solid rgba(220,220,220, 0.6) 1px;
  border-radius: 0.2em;
  margin-bottom: 0.2em;
  padding: 0.2em;
}

.top-right {
  position: absolute;
  bottom: 1em;
  right: 1em;
}

.img_my_race {
  width: 100%;
  height: 75%;
  margin-bottom: 0.2em;
}
